.Stack {
  height: 400px;
  width: 310px;
  margin: 40px auto;
  position: relative;
}

.Stack__candidate {
  position: absolute;
}

.Stack__candidate.--top {
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .5s;
  transition-delay: .2s;
}

.Stack__candidate.--middle {
  z-index: 2;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  transition: all .5s;
  transition-delay: .2s;
}

.Stack__candidate.--bottom {
  z-index: 1;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  transition: all .5s;
  transition-delay: .2s;
}
